@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    background-color: #ffffff;
    margin: 0em;
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #e27d60;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}

.topnav a.logo {
    float: left;
    margin: 0em;
    padding: 0em;
    top: 0em;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #e8a87c;
color: white;
}

.topnav a.logo:hover {
    background-color: transparent;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #e27d60;
    color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    background-color: #fafafa;
    box-shadow: 5px 5px 5px 0px #00000030;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 40px;
    font-size: 1em;
    border-radius: 10px;
}

.background {
    overflow: hidden;
    background-image: url("../background/background.jpg");
    background-color: #cccccc;
    height: 825px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#form{
    font-family: 'Quicksand', sans-serif;
    margin: 5% 5%; 
    width:30em;
    padding:2em;
    background:#f9f9f9;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px 0px #00000030;
}

#form h1 {
    font-weight: bold;
    color: #e27d60;
    text-align: center;
}

label, input {
    display: inline-block;
}

#form label{
    margin: 0em 5em 0em 1em;
    list-style-type: none;
}

#form input{
    padding: 0.25em 1.25em;
    margin: 0 0 0 4em;
    border-radius: 5px;
}

#form input[type=submit]{
    padding: 0.25em 1.25em;
    margin: 0.75em 0em 0em 2em;
    border-radius: 5px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 720px) {
    .topnav a.logo {
        float: none;
    }

    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        float: center;
        text-align: center;
        margin: 0em;
        padding: 2% 0em;
        width: 100%;
        border: 1px solid #ccc;
    }
    #form{
        font-family: 'Quicksand', sans-serif;
        margin: 1em 0em;
        width:96%;
        padding: 1% 2%;
        background:#f9f9f9;
        border-radius: 10px;
        border: none;
        box-shadow: 5px 5px 5px 0px #00000030;
    }
    #form h1 {
        font-weight: bold;
        color: #e27d60;
    }
    
    #form label{
        margin: 0em 10% 0em 1em;
        list-style-type: none;
    }
    
    #form input{
        margin: 0.75em 0em 0em 4em;
        border-radius: 5px;
    }
}
